*{
  padding: 0%;
  margin: 0%;
}
html, body, .App {
  height: 100%;
}
.App{
  background-color: #000814;
  min-height: 100vh;
}
navbar{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding:10px;
  flex-wrap: wrap;
}
.nav_class{
  text-decoration: none;
  font-size: 1.5rem;
  padding:10px;
  color:white;
}
button{
  padding:12px 12px;
  background-color: #161D29;
  color:#AFB2BF;
  border :solid 1px #161D29;
  font-size: 1.2rem;
  border-radius: 10px;
}
button:hover{
  background-color:#29364d;
  cursor: pointer;
}
.active{
  color:red;
}